.tabla-hm :is(.bodyt td, .headt th) {
  padding: 8px 4px;
}
.tabla-hm thead th {
  background: lightgrey;
  color: white;
}
.tabla-hm tbody td {
  background: #d3d3d373;
  color: #474444;
}
.tabla-content .navTabla {
  display: none;
}
@media (max-width: 1024px) {
  .tabla-content .botUp,
  .tabla-content .botDn {
    display: block;
    height: 0;
    width: 0;
    margin: 0 auto;
    border: 20px solid transparent;
    border-top: 0;
    border-bottom: 0;
    pointer-events: all;
  }
  .tabla-content .botUp {
    border-bottom: 20px solid black;
  }
  .tabla-content .botDn {
    border-top: 20px solid black;
  }
  .tabla-content .tabla-hm {
    display: flex;
    gap: 2px;
    justify-content: space-between;
    overflow: hidden;
    background: #f9f2fc;
  }
  .tabla-content .tabla-hm .headt {
    display: block;
    flex: 1 0;
    height: fit-content;
  }
  .tabla-content .tabla-hm .bodyt {
    flex: 2 0 auto;
    overflow-y: hidden;
    scroll-snap-type: y mandatory;
  }
  .tabla-content .tabla-hm .headt tr {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    flex: 1 0 100%;
  }
  .tabla-content .tabla-hm .bodyt tr {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    flex: 1 0 100%;
    scroll-snap-align: start;
  }
  .tabla-content .tabla-hm .bodyt tr:nth-child(odd) {
    background: #f4fff5;
  }
  .tabla-content .tabla-hm :is(th, td) {
    display: block;
  }
}
